body {
    overflow-x: hidden;
}

section {
    margin: 5%;
}

.formPage {
    margin: 0;
}

legend {
    font-size: 1rem;
}

.container-fluid h2 {
    margin-bottom: 100px !important;
}

#heroDiv {
    background-color: antiquewhite; opacity: 0.5; height: 60%;
    color: black;
    text-shadow: 1px 1px;
}

.lead {
    font-size: 1.5rem;
}

.card-title {
    font-size: 1.3rem;
}

.commentContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.commentTitle {
    padding: 10px;
    margin: 10px;
}

.commentCol {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.commentText {
    flex-grow: 20;
}

.commandBox {
    flex-shrink: 10;
}

.commandBoxButton {
    background-color: #555555;
    border: 2px solid transparent;
    cursor: pointer;
}

.commandBoxButton:hover {
    border: 2px solid;
}

.flagBoxText {
    visibility: hidden;
}

.commandBoxButton:hover .flagBoxText {
    visibility: visible;
}

.fa-home {
    font-size: large;
}

#navDrop {
    left: -70px;
}

.tox {
    display: none;
}

.commCardTitle {
    word-break: normal;
    word-wrap: normal;
    display: inline-flex;
    justify-content: center;
}

.commCardBody {
    padding: 0;
    margin-top: 1.25rem;
}

.cardComm {
    height: 100%;
    margin: auto;
}

@media all and (max-width: 1239px) {

    section {
        margin: 2%;
    }

    .app-body {
        margin: 0!important;
    }

    #homeTxt {
        display: none;
    }

    .commentContainer {
        width: 100%;
    }

    .commentContainer .row {
        padding: 0 !important;
    }

    .commentCol {
        flex-direction: column;
        margin: 0 !important;
        height: 200px;
    }

    .cardComm {
        width: 100% !important;
        height: 25%;
        flex-direction: row;
        align-items: center;
    }

    .flagBoxText {
        visibility: visible;
    }

    .avatarComm {
        margin: 0 !important;
        height: 100% !important;
        width: 15% !important;
    }

    .commCardBody {
        padding: 0 !important;
        margin: 0 !important;
        width: 100%;
        text-align: center;
    }

    .commCardTitle {
        margin: 0 !important;
        padding: 0 !important;
    }

    .commentText {
        margin-bottom: 10px;
    }

    .flagBoxDiv {
        height: 100%;
        margin: auto;
    }
}